<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="vendors/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
    <link rel='stylesheet' href='styles/styles.css'>
  </head>
  <body>
      <div class="container">
        <div id="titleDiv">
          <h1>PW/JSJQ 1.0</h1>
        </div>
        <div id="screen">
            <p id="output"></p>
        </div>
        <div id="keys">
          <button class="key">7</button>
          <button class="key">8</button>
          <button class="key">9</button>
          <button class="oper" id="DIVIDED BY">÷</button>
          <button class="oper" id="SQRT">√</button>
          <button class="key">4</button>
          <button class="key">5</button>
          <button class="key">6</button>
          <button class="oper" id="TIMES">x</button>
          <button class="π" id="π">π</button>
          <button class="key">1</button>
          <button class="key">2</button>
          <button class="key">3</button>
          <button class="oper" id="MINUS">-</button>
          <button class="oper" id="POW">x^y</button>
          <button class="spec" id="CLEAR">AC</button>
          <button class="key">0</button>
          <button class="key">.</button>
          <button class="oper" id="PLUS">+</button>
          <button class="spec" id="EQUALS">=</button>
        </div>
      </div>
  </body>
</html>
