button {
  background-color: #E3F09B;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px;
  cursor: pointer;
  width: 80px;
}
.container{
  background-color: #5B5941;
  width: 390px
}
#userInput{
  direction: rtl;
  margin:auto;
  font-size: 20px;
  width: 354px;
  height: 40px;
}
#screen{
  background-color: white;
  width: 360px;
  height: 60px;
  margin: auto;
}
#keys {
  width: 360px;
  margin: auto;
}
#output{
  font-size: 36px;
  direction: rtl;
  margin: 6px;
}
